{% extends 'base_flask.html' %} {% block title %} Search Test
{% endblock %} {% block content %}
<h1 class="mb-4">Search Test Page (Google Books API)</h1>
  <form method="POST" action="{{ url_for('search_bp.search_items') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
          {{ form.search_term.label }}
          {{ form.search_term(class="form-control", placeholder="Enter your search term", required=true) }}
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
  </form>
{% if books %}
<h2 class="mt-5">Search Results:</h2>
<div class="row">
  {% for book in books %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      {% if book.volumeInfo.imageLinks and book.volumeInfo.imageLinks.thumbnail %}
      <img
        src="{{ book.volumeInfo.imageLinks.thumbnail }}"
        class="card-img-top"
        alt="Book Cover"
        style="max-height:20rem; object-fit: contain;"
      />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">
          {{ book.volumeInfo.title }}
        </h5>
        <p class="card-text">
          <strong>Authors:</strong>
          {% if book.volumeInfo.authors %}
          {{ book.volumeInfo.authors | join(', ') }}
          {% else %}
          Unknown
          {% endif %}
        </p>
        <p class="card-text">
          <strong>Published Date:</strong>
          {{ book.volumeInfo.publishedDate or 'N/A' }}
        </p>
        <a href="{{ book.volumeInfo.infoLink }}" class="btn btn-primary" target="_blank"
          >More Info</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% elif books is not none %}
<p class="mt-5">No results found for your query.</p>
{% endif %}
{% endblock %}