{% extends "base_flask_clean.html" %}
{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100 py-4 bg-body-tertiary rounded-3">
    <main class="form-signin">
        <form method="POST" action="{{ url_for('login_bp.login') }}">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 fw-normal">Sign in to Auction Site</h1>
            <div class="form-floating mb-3">
                {{ form.username(class="form-control", id="floatingInput2", placeholder="Enter your username", required=true, type="text") }}
                <label for="floatingInput2">{{ form.username.label.text }}</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.password(class="form-control", id="floatingPassword2", placeholder="Enter your password", required=true, type="password") }}
                <label for="floatingPassword2">{{ form.password.label.text }}</label>
            </div>
            <p>Don't have an account? <a href="{{ url_for('login_bp.create_user') }}">Create one</a></p>
            <button type="submit" class="btn btn-primary w-100 py-2">Login</button>
            <a type="button"class="btn btn-secondary w-100 py-2 mt-2"
                href="{{ url_for('index') }}">
                Cancel
            </a>
        </form>
    </main>
</div>
{% endblock %}