<div class="card shadow-sm">
<img
    src="{{ auction.image_url }}"
    class="bd-placeholder-img card-img-top"
    style="max-height: 225px; object-fit: cover;"
    alt="{{ auction.description }}"
/>

<div class="card-body">
    <h5 class="card-title">{{ auction.description }}</h5>
    <p class="card-text">
    Starting Bid: ${{ auction.starting_bid }}
    <br />Duration: {{ auction.duration }} days.
    </p>
    <div
    class="d-flex justify-content-between align-items-center"
    >
    <div class="btn-group">
        <a type="button"
        href="{{ url_for('auctions_bp_sqlalchemy.auction_details', auction_id=auction.id) }}"
        class="btn btn-primary">
        View
        </a>
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
        <a type="button"
        href="{{ url_for('auctions_bp_sqlalchemy.edit_auction', auction_id=auction.id) }}"
        class="btn btn-warning">
        Edit
        </a>
        <a type="button"
        href="{{ url_for('auctions_bp_sqlalchemy.delete_auction', auction_id=auction.id) }}"
        class="btn btn-danger">
        Delete
        </a>
        {% endif %}
    </div>
    </div>
</div>
</div>