{% extends 'baselayout.html' %} {% block title %} Auction | {{
auction.description }} {% endblock %} {%block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis" href="{{ url_for('index') }}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="bi"
          width="16"
          height="16"
          aria-hidden="true"
          fill="black"
        >
          <path
            d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"
          />
        </svg>
        <span class="visually-hidden">Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a
        class="link-body-emphasis fw-semibold text-decoration-none"
        href="{{ url_for('auctions_bp_sqlalchemy.get_all_auctions') }}"
        >Auctions</a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ auction.description | truncate(20, True, '...')}}
    </li>
  </ol>
</nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img
      src="{{ auction.image_url }}"
      class="d-block mx-lg-auto img-fluid"
      alt="{{ auction.description }}"
      style="max-height: 500px"
      loading="lazy"
    />
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
      {{ auction.description }}
    </h1>
    <div class="d-flex flex-row mb-3">
      <form
        method="post"
        action="{{ url_for('auctions_bp_sqlalchemy.like_auction', auction_id=auction.id) }}"
      >
        <button
          type="submit"
          class="thumb-counter d-flex flex-row align-items-center me-3 p-2 gap-1 text-success border-0 bg-transparent"
        >
          <p class="my-auto">{{ auction.likes }}</p>
          <i class="bi like-hands bi-hand-thumbs-up"></i>
        </button>
      </form>

      <form
        method="post"
        action="{{ url_for('auctions_bp_sqlalchemy.dislike_auction', auction_id=auction.id) }}"
      >
        <button
          type="submit"
          class="thumb-counter d-flex flex-row align-items-center me-3 p-2 gap-1 text-danger border-0 bg-transparent"
        >
          <p class="my-auto">{{ auction.dislikes }}</p>
          <i class="bi like-hands bi-hand-thumbs-down"></i>
        </button>
      </form>
    </div>
    <p class="lead">
      Starting Bid: ${{ auction.starting_bid }}
      <br />Duration: {{ auction.duration }} days.
    </p>
  </div>
{% if current_user.is_authenticated and current_user.role == 'admin' %}
  {% for bid in bids %} {% include 'bid_card.html' %}
  <form
    method="post"
    action="{{ url_for('auctions_bp_sqlalchemy.delete_bid', bid_id=bid.id, auction_id=auction.id) }}"
  >
    <button type="submit" class="btn btn-danger mb-4">Delete Bid</button>
  </form>
  {% endfor %}
{% else %}
  <h3>Top two bids:</h3>
  {% for bid in bids[:2] %} {% include 'bid_card.html' %} {% endfor %}
  <a
    href="{{ url_for('auctions_bp_sqlalchemy.add_bid_form', auction_id=auction.id) }}"
    class="btn btn-primary btn-lg px-4 me-md-2"
    >Place a Bid</a
  >
  {% endif %}
</div>
{% endblock %}
