{% extends 'base_flask.html' %}

{% block title %} Add Auction {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Edit Auction - {{ auction.description }}</h2>
            <form action="{{ url_for('auctions_bp_sqlalchemy.update_auction', auction_id=auction.id) }}" method="post">
<!--                 <div class="mb-3">
                    <label for="id" class="form-label">ID:</label>
                    <input type="text" class="form-control" id="id" name="id" required>
                </div> -->

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <input type="text" class="form-control" id="description" name="description" value="{{ auction.description }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="starting_bid" class="form-label">Starting Bid:</label>
                    <input type="number" class="form-control" id="starting_bid" name="starting_bid" value="{{ auction.starting_bid }}" required>
                </div>

                <div class="mb-3">
                    <label for="duration" class="form-label">Add number of days to auction (Optional):</label>
                    <input type="number" class="form-control" id="duration" name="duration" value="{{ auction.duration }}" required>
                </div>

                <div class="mb-3">
                    <label for="image_url" class="form-label">Image URL:</label>
                    <input type="text" class="form-control" id="image_url" name="image_url" value="{{ auction.image_url }}">
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{{ url_for('auctions_bp_sqlalchemy.get_all_auctions') }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}