<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vite App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="container mt-3">
<div id="app">
  <auction-list></auction-list>
</div><!-- End div vue app -->
</div><!-- end container -->
<script src="{{ url_for('auctions_rest_bp.static', filename='auctionlistcrudcomponent.js') }}"></script>
<script>
  const app = Vue.createApp({});

  // Register the AuctionListCrudComponent and mount the app in the div with id 'app'
  app.component('auction-list', AuctionListCrudComponent); // Use <auction-list></auction-list> to include this component
  app.mount('#app'); // Mount the Vue app to the div with id 'app'
</script>
</body>
</html>
